<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <link rel="stylesheet" href="../public/partials/navbar.css">
    <style>
       .transaction-table, .total-table {
            width: 100%;
            border-collapse: collapse;
             margin-bottom: 100px;
        }

        .transaction-table th, .transaction-table td,.total-table th, .total-table td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        .transaction-table th, .total-table th{
            background-color: #f2f2f2;
        }
        h1{
            text-align: center;
            margin-top: 30px;
        }
        .summary{
           margin-bottom: 50px;
        }
       
    
    </style>
</head>
<body>
    {{> navbar}}
    <h1>Your all Transaction</h1>
    
     <div class="filter-form">
        <form action="/alltransaction" method="post">
            <label for="startDate">From:</label>
            <input type="date" id="startDate" name="startDate" >

            <label for="endDate">To:</label>
            <input type="date" id="endDate" name="endDate" >

            <button type="submit">Filter</button>
        </form>
    </div>

    <table class="transaction-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Delete</th>
                <th>Update</th>

            </tr>
        </thead>
        <tbody>
             {{#if transactions.length}}
        
            {{#each transactions}}
            <tr>
                <td>{{moment this.date "DD MMM YYYY"}}</td>
                <td> {{this.type}} </td>
                <td> {{this.category}} </td>
                <td> {{this.description}} </td>
                <td> {{this.amount}} </td>
                {{!-- //<td><button type="button" onclick="deleteTransaction('{{this._id}}')">❌</button></td> --}}
                 <td> <form  action="/deletetransaction/{{this._id}}" method="POST">
                            <button type="submit">❌</button>
                        </form>
                        </td>

             <td> <form action="/updatetransaction/{{this._id}}" method="GET">
                 <button type="submit">✏️</button>
                    </form></td>
            </tr>
               
            {{/each}}
        
    {{else}}
        <tr>
                    <td colspan="5">No transactions found.</td>
                </tr>
    {{/if}}
        </tbody>
        
    </table>

    <h1 class="summary">Summary</h1>
    <table class="total-table">
        <thead>
            <tr>
                <th>Total Credit</th>
                <th>Total Debit</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>+{{totalCredit}}</td>
                <td>-{{totalDebit}}</td>
                <td>{{balance}}</td>
            </tr>
        </tbody>
    </table>

    

</body>
</html>



